/* This is for the font
.libertinus-sans-regular {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.libertinus-sans-bold {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.libertinus-sans-regular-italic {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
Colors: 
color: #C8B6FE;
Darker color:#db237f;
#493585;
*/

/* The body */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: "Libertinus Sans", sans-serif;
}

/* The navigation in the header */
header{
    display:flex;
    flex-direction: column;
    background-color:#ffbae0;
    color: rgb(255, 255, 255);
    /* justify-content:flex-start ;
    align-items: center; */
    padding: 0 20px;
}

.main-head{
    display:flex;
    /* border: 1px solid red; */
    font-weight: 900px;
    justify-content: space-between;
    padding-top:20px;
}

header h1{
    font-size: 24px;
}
nav ul{
    list-style: none;
    display: flex;
    gap:20px;
    padding-right:20px;
    color:#ffbae0;
    align-items: center;
}
nav a{
text-decoration: none;
color:#db237f;
font-weight: 300;
}

/* This it the overview column */


.over-view{
    display: flex;
    background-color:#ffbae0;
    justify-content: space-between;
    /* border: 1px solid red ; */
    padding:20px 0;
    gap: 20px;
}
.over-view-one{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: flex-start;
  color: white;
  /* I set is as one so the basis will take up the space
  but the paragraph will stop at 900px */
  flex:1;
  
}

.over-view-one h1{
    font-size: 48px;
    font-weight: 900px;
    color:#ffffff;
    padding: 0px;
    margin: 0px;
    padding-bottom: 8px;
}
.over-view-one p{
    color: rgb(247, 239, 239);
   max-width: 900px;
}

.over-view-one button{
   background-color:#db237f;
   color: white;
   border-radius: 100px;
   padding: 8px;
   border: 2px solid #db237f;
   margin-top: 10px;
  
}

.over-view-two{
    display: flex;
    justify-content: center;
   /* border:1px solid red; */
}

.over-view-two img{
    /* so we can shrink it to 0 width I put the
    min as 0 and the max cannot go beyond 400 */
    min-width:0px;
    max-width: 400px;
    /* consuming 100%  of the width ensures that
    when we change the shape it takes up that space, it will
    fill 100% but as we have the constraints it will stop
    at 400px*/
    width: 100%;
    border-radius: 20px;
}
/* this is the main part */

.sub-section-one{
display: flex;
flex-direction: column;
align-items: center;
margin:20px;
color: #db237f;

}
.sub-section-one h1{
    margin-bottom:20px;
}
.sub-image-container{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
    /* The content we want to push down should
    have the flex wrap */
    flex-wrap:wrap;
}
.sub-image-container img{
    width: 150px;
    border-radius: 30px;
    border: 1px solid rgb(204, 202, 202);
}
.sub-image-container li{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.price{
   display: flex;
   margin:10px;
    
}
.price p{
    align-self: center;
    color: #db237f;
    font-style: bold;
    flex:1;
}
.price button{
    flex:1;
    padding:5px;
    align-self: flex-start;
    background-color:#db237f;
    color: white;
    border-radius: 50px;
    border: 2px solid #db237f;
  
}
/* This iss the second main section */
.sub-section-two{
 background-color:#f7f1e0;
 padding: 70px 0;
 margin: 100px 0;
}
.section-two-images{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.images-2{
   display: flex;
   justify-content: center;
}
.section-two-images img{
    width:100px;
   
}
.section-two-images li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #db237f;
    flex: 1;
    
}
.section-two-images h2{
    text-align: center;
}
.sub-section-three{
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: space-around;
}

.section-three-notf{
    background-color: #db237f;
    padding: 20px 50px;
    border-radius: 20px;
    flex:1;
    max-width: 700px;
    display: flex;
    color: #ffffff;
    border: 1px solid #ff92c8;
    
}
.notf-text{
  margin-right: auto;
  flex:2;  
}
.notf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.notf button{
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #db237f;
    border: 1px solid #ff92c8;
    color: #ffffff;
    flex:1;
}
/* This is the footer */
footer{
    background-color:#ffbae0;
    display: flex;
    justify-content: flex-start;
    gap:20px;
    flex-wrap:wrap;
}
.footer-image img{
    width:100px;
  border-radius: 10px;
}
.footer-image{
  display: flex;
  margin:20px;
}
.footer-Social, .footer-Contact{
 display: flex;
 flex-direction: column;
 justify-content:flex-start;
 margin-top: 20px;
 flex: auto;
 padding:0px;
 color: #db237f;

}
.footer-Social img{
    width:30px;
}
.footer-Contact a{
text-decoration: none;
color: #db237f;
}
